<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.mule.tooling.core.contribution">
        <externalContribution
      		contributionJar="mule-module-synchronize.jar"
            contributionLibPathInMule="/lib"
            contributionLibs="mule-module-synchronize.jar"
            contributionNamespace="http://www.mulesoft.org/schema/mule/synchronize"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/synchronize/current/mule-synchronize.xsd"
            contributionNamespacePrefix="synchronize"
            contributionType="cloud-connector"
            name="Synchronize"
            path="synchronize.xml"
            version="1.0">
        </externalContribution>
    </extension>

	<extension point="org.mule.tooling.maven.populate">
      	<contribution-jar jar="mule-module-synchronize.jar"></contribution-jar>
   </extension>

</plugin>
