<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="munitRuntime" name="Munit Runtime" schema="schema/munitRuntime.exsd"/>
<extension
         point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               base-type="org.eclipse.core.runtime.xml"
               file-extensions="xml, mflow"
               id="org.mule.tooling.messageflow.munit.contentType"
               name="Munit ContentType"
               priority="high">
            <describer
                  class="org.mule.tooling.ui.contribution.munit.MunitContentTypeDescriber">
               
            </describer>
         </content-type>
       
        
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mule.tooling.ui.contribution.munit.editors.MunitMultiPageEditor"
            contributorClass="org.mule.tooling.ui.contribution.munit.editors.MunitMultiPageEditorContributor"
            matchingStrategy="org.mule.tooling.messageflow.editor.MuleEditorMatchingStrategy"
            extensions="xml"
            icon="icons/munit-16x16.png"
            id="org.mule.tooling.ui.contribution.munit.editors.MunitMultiPageEditor"
           
            name="Munit Page Editor">
             <contentTypeBinding
                  contentTypeId="org.mule.tooling.messageflow.munit.contentType">
            </contentTypeBinding>
             
      </editor>
   </extension>
   <extension
         point="org.mule.tooling.messageflow.nodecontextmenu">
      <nodecontextmenu
            class="org.mule.tooling.ui.contribution.munit.extensions.CreateNewExtension">
      </nodecontextmenu>
      
   </extension>
   
    <extension
         point="org.mule.tooling.messageflow.nodecontextmenu">
      <nodecontextmenu
            class="org.mule.tooling.ui.contribution.munit.extensions.RunTestExtension">
      </nodecontextmenu>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.mule.tooling.munit.toolbars.munitToolbar">
           		<command
	              	commandId="org.mule.tooling.munit.commands.filterTests"
	              	mnemonic="S"
	              	label="Show Tests Only"
	              	icon="icons/Suite.png"
	              	style="toggle">
	              	<visibleWhen>
                     <with variable="activeContexts">
                <iterate ifEmpty="false" operator="or">
            <equals value="org.mule.tooling.keybindings.contexts.munitEditor"/>
        </iterate>
              </with>
	              	</visibleWhen>
            	</command>
           </toolbar>
      </menuContribution>
   </extension> 


      <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="lib/munit-assert-3.4-M5.jar"
            contributionLibPathInMule="/lib"
            contributionLibs="lib/munit-assert-3.4-M5.jar"
            contributionNamespace="http://www.mulesoft.org/schema/mule/munit"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd"
            contributionNamespacePrefix="munit"
            icon="icons/small/Munit-24x16.png"
            contributionType="cloud-connector"
            minimumVersion="3.4.0"
            name="Munit"
            path="munit.xml"
            version="1.0">
      </externalContribution>
      <externalContribution
            contributionJar="lib/munit-mock-3.4-M5.jar"
            contributionLibPathInMule="/lib"
            contributionLibs="lib/munit-mock-3.4-M5.jar"
            contributionNamespace="http://www.mulesoft.org/schema/mule/mock"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/mock/current/mule-mock.xsd"
            contributionNamespacePrefix="mock"
            icon="icons/small/Munit-24x16.png"
            contributionType="cloud-connector"
            minimumVersion="3.4.0"
            name="Mock"
            path="mock.xml"
            version="1.0">
      </externalContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.mule.tooling.ui.contribution.munit.classpath.MunitClassPathInitializer"
            id="MUNIT_RUNTIME">
      </classpathContainerInitializer>      
   </extension>

     
          <extension
            point="org.eclipse.ui.views">
        <view
                name="Munit"
                icon="icons/munit-16x16.png"
                category="org.eclipse.jdt.ui.java"
                fastViewWidthRatio="0.40"
                class="org.mule.tooling.ui.contribution.munit.runner.MunitTestRunnerViewPart"
                id="org.eclipse.jdt.munit.ResultView">
        </view>
    </extension>
      
    <extension
            point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                name="Munit"
                delegateDescription="Munit"
                delegateName="Munit Delegate"
                delegate="org.mule.tooling.ui.contribution.munit.runner.MunitLaunchConfigurationDelegate"
                modes="run, debug"
                id="org.eclipse.jdt.munit.launchconfig">
        </launchConfigurationType>
    </extension>
     <extension
         point="org.mule.tooling.messageflow.figuredecorator">
      <figuredecorator
            class="org.mule.tooling.ui.contribution.munit.coverage.CoverageFigureDecorator">
      </figuredecorator>

   </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
                icon="$nl$/icons/munit-16x16.png"
                configTypeID="org.eclipse.jdt.munit.launchconfig"
                id="org.eclipse.jdt.munit.launchimage">
        </launchConfigurationTypeImage>
    </extension>

    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                type="org.eclipse.jdt.munit.launchconfig"
                class="org.mule.tooling.ui.contribution.munit.runner.MunitConfigurationTab"
                id="org.eclipse.jdt.munit.launchConfigurationTabGroup.munit">
            <launchMode
                    perspective="org.eclipse.debug.ui.DebugPerspective"
                    description="Debug Perspective for Munit"
                    mode="debug">
            </launchMode>
            <launchMode
                    description="Debug Perspective for Munit"
                    mode="run">
            </launchMode>
        </launchConfigurationTabGroup>
    </extension>

    
     <extension
         point="org.mule.tooling.module">
      <module
            description="Munit Pallete"
            icon="icons/munit-16x16.png"
            id="org.mule.tooling.ui.modules.munitModule"
            name="Munit Pallete">
         <category
               expandByDefault="true"
               icon="icons/munit-16x16.png"
               id="org.mule.tooling.category.munit"
               name="Munit"
               paletteWeight="100">
         </category>
       </module>
      </extension>
     <extension
         point="org.mule.tooling.module">
         <module
            description="Munit assertions category"
            icon="icons/munit-16x16.png"
            id="org.mule.tooling.ui.modules.munitAssertions"
            name="Assertions Pallete">
         <category
               expandByDefault="true"
               icon="icons/munit-16x16.png"
               id="org.mule.tooling.category.munit.assertions"
               name="Munit Assertions"
               paletteWeight="100">
         </category>
       </module>
   
      </extension>
       <extension
         point="org.mule.tooling.module">
         <module
            description="Munit Tools Category"
            icon="icons/munit-16x16.png"
            id="org.mule.tooling.ui.modules.munitTools"
            name="Tools Pallete">
         <category
               expandByDefault="true"
               icon="icons/munit-16x16.png"
               id="org.mule.tooling.category.munit.utils"
               name="Munit Integration Test Tools"
               paletteWeight="100">
         </category>
       </module>
   
      </extension>
      
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="Show Production Code Category"
            id="org.mule.tooling.munit.commands.category">
      </category>
      <command
            name="Filter Tests Only Command"
            categoryId="org.mule.tooling.munit.commands.category"
            id="org.mule.tooling.munit.commands.filterTests">
      </command>
   </extension>
  
  
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.mule.tooling.munit.commands.filterTests"
            class="org.mule.tooling.ui.contribution.munit.handlers.FilterTestsHandler">
      </handler>
   </extension>
   
   <extension
         point="org.mule.tooling.projectStructure">
         <projectStructure
         id="org.mule.tooling.projectStructure.munit"
         addToMuleRuntime="false"
         isSourceFolder="true"
         acceptsMuleConfigFiles="true"
         name="munitFolder"
               folderPath="/src/test/munit">
         </projectStructure>
   </extension>
   
   	<extension
       point="org.eclipse.ui.contexts">
    	<context
          	description="When the munit editor is opened"
          	id="org.mule.tooling.keybindings.contexts.munitEditor"
          	name="Munit editor"
          	parentId="org.eclipse.ui.contexts.window">
    	</context>    	
	</extension>
       
       <extension point="org.mule.tooling.core.containerBehavior">
		<containerBehavior
			behaviorClass="org.mule.tooling.ui.contribution.munit.MunitBehavior"
			behaviorId="munit_behavior" />
	</extension>
	
          <extension
             point="org.mule.tooling.messageflow.editPartFactory">
          <factory
          type="http://www.mulesoft.org/schema/mule/munit/setup"
                class="org.mule.tooling.ui.contribution.munit.MunitEditPartFactory">
          </factory>
       </extension>
         <extension
            point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
        		label="MUnit"
                icon="icons/munit-16x16.png"
                class="org.mule.tooling.ui.contribution.munit.runner.MunitLaunchShortcut"
                modes="run, debug"
                id="org.eclipse.jdt.munit.munitShortcut">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1"/>
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource"/>
                            <test
                                  property="org.mule.munit.plugin.isMunitFile" value="true">
                            </test>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
            <configurationType
                    id="org.eclipse.jdt.munit.launchconfig">
            </configurationType>
            <description
                    description="MUnit"
                    mode="debug">
            </description>
            <description
                    description="MUnit"
                    mode="run">
            </description>
        </shortcut>
    </extension> 
    
    <extension point="org.eclipse.core.expressions.propertyTesters">
 <propertyTester
                class="org.mule.tooling.ui.contribution.munit.runner.MuleResourcePropertyTester"
                id="org.mule.tooling.ui.contribution.munit.runner.MuleResourceTester"
                namespace="org.mule.munit.plugin"
                properties="isMunitFile"
                type="org.eclipse.core.resources.IResource">
        </propertyTester>
    
</extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="org.mule.tooling.ui.contribution.munit.newFileWizard"
             name="Munit">
       </category>
       <wizard
       		 canFinishEarly="false"
             category="org.mule.tooling.ui.muleWizards"
             class="org.mule.tooling.ui.contribution.munit.wizards.NewTestWizard"
             icon="icons/munit-16x16.png"
             hasPages="true"
             project="false"
             id="org.mule.tooling.ui.contribution.munit.wizards.NewTestWizard"
             name="Munit Test">
       </wizard>
    </extension> 
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <newWizardShortcut id="org.mule.tooling.ui.contribution.munit.wizards.NewTestWizard" />                
      </perspectiveExtension>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.mule.tooling.ui.debugPerspective">
         <view
         	   relative="org.eclipse.ui.navigator.ProjectExplorer"
               ratio="0.5"               
               relationship="stack"
               visible="false"
               id="org.eclipse.jdt.munit.ResultView">
         </view>
      </perspectiveExtension>
   </extension>
   
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.mule.tooling.ui.toolingPerspective">
         <view
        	   relative="org.eclipse.ui.navigator.ProjectExplorer"
               standalone="false"
               ratio="0.5"
               
               relationship="stack"
               id="org.eclipse.jdt.munit.ResultView">
         </view>
      </perspectiveExtension>
   </extension>
   

</plugin>
