*.class
*.settings
# Package Files #
*.jar
*.war
*.ear
target
.DS_Store
*/build.log
*.iml
*.idea
/target
bin

# Vim temp files
**/.*.un~

# Build logs
**/build.log

*.log
org.mule.tooling.devkit
org.mule.tooling.devkit.apt
org.mule.tooling.devkit.templates
org.mule.tooling.incubator.devkit.extension
org.mule.tooling.incubator.devkit.test