<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="mule-module-anypoint-mq-ee.jar"
            contributionLibPathInMule="/lib"
            contributionLibs="mule-module-anypoint-mq-ee.jar"
            contributionNamespace="http://www.mulesoft.org/schema/mule/anypoint-mq"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd"
            contributionNamespacePrefix="anypoint-mq"
            contributionType="cloud-connector"
            icon="icons/small/messaging-24x16.png"
            minimumVersion="3.7.0"
            name="Anypoint MQ"
            path="messaging.xml"
            version="1.0.0">
      </externalContribution>
   </extension>
</plugin>
