<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="editortoolbar" name="EditorToolbar" schema="schema/editortoolbar.exsd"/>
   <extension-point id="keycompletion" name="Key Completions" schema="schema/keycompletion.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Mule Properties Editor"
            extensions="properties"
            icon="icons/properties.png"
            contributorClass="org.mule.tooling.properties.editors.MultiPagePropertiesEditorContributor"
            class="org.mule.tooling.properties.editors.MultiPagePropertiesEditor"
            id="org.mule.tooling.properties.editors.MultiPagePropertiesEditor">
      </editor>
   </extension>

</plugin>
