<!doctype html>
<html>
	<head>
		<title>MuleSoft Studio Add-ons</title>
		<link rel="stylesheet" href="styles/all.css">
		<script src="scripts/all.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="addOnListController">
			<div id="addon-list">
				<div class="addon-item" ng-repeat="addon in addons">

					<div class="addon-icon">
						<img ng-attr-src="{{addon.icon}}">
					</div>

					<div class="addon-name">{{addon.name}}</div>

					<div class="addon-details">
						<div class="addon-version">Version <span>{{addon.version}}</span></div>

						<div class="addon-description">
							{{addon.description}}

							<div class="action-area">
								<button class="btn-install" ng-click="installAddOn(addon)">Install</button>

								<div class="install-progress">
									<span class="progress-bar"></span>
								</div>

								<div class="installed-message">
									<i class="icon-check"></i> Installed
								</div>
							</div>
						</div>

						<div class="usage-info">
							<div class="installed">
								<i class="icon-install"></i>
								Installed <span data-contents="numberOfInstallations"></span>
							</div>
							<div class="rating">
								Rating
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
