<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="org.mule.tooling.incubator.gradle.content.StudioGradleEnabledContentDescriber"
            file-extensions="gradle"
            file-names="build"
            id="org.mule.tooling.gradle.muleStudioGradleFile"
            name="Sudio-enabled Gradle Build"
            priority="high">
      </content-type>
   </extension>
   
   <extension
   		point="org.mule.tooling.messageflow.dependencymanager">
   		<dependencymanager class="org.mule.tooling.incubator.gradle.GradleDependencyManager">
   		</dependencymanager>
   	</extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
      		category="org.mule.tooling.ui.muleWizards"
            class="org.mule.tooling.incubator.gradle.wizard.ProjectNewWizard"
            icon="icons/gradle16x16.png"
            id="org.mule.tooling.incubator.gradle.wizard"
            name="Mule Project with Gradle"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.mule.tooling.ui.messageflowpage"
            class="org.mule.tooling.incubator.gradle.preferences.WorkbenchPreferencePage"
            id="org.mule.tooling.gradle.preferences"
            name="Gradle">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.mule.tooling.gradle"
            name="Gradle">
      </category>
      <view
            category="org.mule.tooling.gradle"
            class="org.mule.tooling.incubator.gradle.views.TasksView"
            icon="icons/gradle16x16.png"
            id="org.mule.tooling.gradle.views.TasksView"
            name="Gradle Tasks View">
      </view>
      <view
      		category="org.mule.tooling.gradle"
      		class="org.mule.tooling.incubator.gradle.views.TestsReportView"
      		icon="icons/gradle16x16.png"
      		id="org.mule.tooling.incubator.gradle.reportBrowser"
      		name="Gradle Tests Report">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.mule.tooling.ui.toolingPerspective">
         <view
               id="org.mule.tooling.gradle.views.TasksView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <newWizardShortcut
               id="org.mule.tooling.incubator.gradle.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mule.tooling.incubator.gradle.editors.GradleBuildEditor"
            contributorClass="org.mule.tooling.incubator.gradle.editors.MultiPageEditorContributor"
            icon="icons/gradle16x16.png"
            id="org.mule.tooling.incubator.gradle.editors.GradleBuildEditor"
            name="Mule Gradle Build Editor">
         <contentTypeBinding
               contentTypeId="org.mule.tooling.gradle.muleStudioGradleFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.mule.tooling.incubator.gradle.editors.GradleDocumentSetupParticipant"
            contentTypeId="org.mule.tooling.gradle.muleStudioGradleFile">
      </participant>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="popup:org.eclipse.ui.popup.any?after=additions">
               <menu
                     label="Gradle Support in Studio"
                     icon="icons/gradle16x16.png">
                     <command
                           commandId="org.mule.tooling.incubator.gradle.synchronizeProject"
                           label="Synchronize Project">
                     </command>
                     <command
                           commandId="org.mule.tooling.incubator.gradle.showTasks"
                           label="Run Tasks...">
                     </command>
                     <command
                           commandId="org.mule.tooling.incubator.gradle.runTests"
                           label="Run Unit Tests With Gradle">
                     </command>
                     <command
                           commandId="org.mule.tooling.incubator.gradle.installWrapper"
                           label="Install or Update Gradle Wrapper">
                     </command>
                     <visibleWhen>
                     	<iterate >
                        <adapt type="org.eclipse.core.resources.IProject">
	             			<test property="org.eclipse.core.resources.projectNature"
	                   				value="org.mule.tooling.core.muleNature">
	             			</test>
         				</adapt>
                        </iterate>
                        <count value="1"></count>
                     </visibleWhen>
               </menu>
         </menuContribution>         
         
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
         <handler
               commandId="org.mule.tooling.incubator.gradle.runTests"
               class="org.mule.tooling.incubator.gradle.handlers.RunTestsHandler">
         </handler>
         <handler
               commandId="org.mule.tooling.incubator.gradle.installWrapper"
               class="org.mule.tooling.incubator.gradle.handlers.InstallWrapperHandler">
         </handler>
         <handler
               commandId="org.mule.tooling.incubator.gradle.showTasks"
               class="org.mule.tooling.incubator.gradle.handlers.ShowTasksViewHandler">
         </handler>
         <handler
               commandId="org.mule.tooling.incubator.gradle.synchronizeProject"
               class="org.mule.tooling.incubator.gradle.handlers.SynchronizeProjectHandler">
         </handler>
   </extension>
   
</plugin>
