<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors.templates">
		<include file="templates/connectors-templates.xml"/>
		<include file="templates/connectors-rest-templates.xml"/>
		<include file="templates/connectors-transformers.xml"/>
		<include file="templates/connectors-sources.xml"/>
		<resolver
			contextTypeId="java"
			type="moduleName"
			class="org.mule.tooling.devkit.templates.DevkitVariableResolver">
        </resolver>
		
	</extension>
</plugin>
