/**
 * (c) 2003-2014 MuleSoft, Inc. The software in this package is published under the terms of the CPAL v1.0 license,
 * a copy of which has been included with this distribution in the LICENSE.md file.
 */

package ${package};

import static org.junit.Assert.assertNotNull;

import org.mule.tck.junit4.FunctionalTestCase;

import org.junit.Test;

public class ${className}QueryTest extends FunctionalTestCase {
    
    @Override
    protected String getConfigResources() {
        return "${moduleName}-config.xml";
    }

    @Test
    public void testFlow() throws Exception {
        assertNotNull(runFlow("testQueryFlow"));
    }
}
