/**
 * (c) 2003-2015 MuleSoft, Inc. The software in this package is published under the terms of the CPAL v1.0 license,
 * a copy of which has been included with this distribution in the LICENSE.md file.
 */

package ${project.package};
#if(${project.hasQuery} == true )

import java.util.ArrayList;
import java.util.List;

#end
#if($project.authenticationType == 'OAUTH_V2')  
import org.mule.api.annotations.oauth.OAuthProtected;

#end
import org.mule.api.annotations.ConnectionStrategy;
import org.mule.api.annotations.Connector;
import org.mule.api.annotations.Configurable;
import org.mule.api.annotations.param.Default;
import org.mule.api.annotations.Processor;

import java.io.IOException;
import org.mule.api.annotations.ReconnectOn;
import org.mule.api.annotations.rest.HttpMethod;
import org.mule.api.annotations.rest.RestCall;
import org.mule.api.annotations.rest.RestUriParam;
#if(${project.hasQuery} == true)
import org.mule.api.annotations.Query;

#end

import ${project.package}.strategy.${project.strategyClassName};

/**
 * Anypoint Connector
 *
 * @author MuleSoft, Inc.
 */
@Connector(name="${project.moduleName}", friendlyName="${project.connectorName}")
public abstract class ${project.connectorClassName} {
    
    /**
     * Configurable
     */
    @Configurable
    @Default("value")
    private String myProperty;

    @ConnectionStrategy
    ${project.strategyClassName} connectionStrategy;   

    /**
     * Set property
     *
     * @param myProperty My property
     */
    public void setMyProperty(String myProperty) {
        this.myProperty = myProperty;
    }

    /**
     * Get property
     */
    public String getMyProperty() {
        return this.myProperty;
    }

    /**
     * Custom processor
     *
     * {@sample.xml ../../../doc/${project.moduleName}-connector.xml.sample ${project.moduleName}:my-processor}
     *
     * @param content Content to be processed
     * @return Some string
     * @throws IOException Comment for Exception
     */
    @Processor
#if($project.authenticationType == 'OAUTH_V2')    
    @OAuthProtected
#end
    @ReconnectOn(exceptions = { Exception.class })
    @RestCall(uri="https://myapiurl/{content}", method=HttpMethod.GET)
    public abstract void myProcessor(@RestUriParam("content") String content) throws IOException;  

#if(${project.hasQuery} == true )

    /**
     * Description for query
     *
     * {@sample.xml ../../../doc/${project.moduleName}-connector.xml.sample ${project.moduleName}:query-processor}
     *
     *  @param query The dsql query
     *  @return List of elements that match the criteria
     */
    @Processor
    public List<Object> queryProcessor(@Query String query) {
        //TODO
        /*
         * MESSAGE PROCESSOR CODE GOES HERE
         */
        return new ArrayList<Object>();
    }
#end

    public ${project.strategyClassName} getConnectionStrategy() {
        return connectionStrategy;
    }

    public void setConnectionStrategy(${project.strategyClassName} connectionStrategy) {
        this.connectionStrategy = connectionStrategy;
    }

}