package ${package};

import org.mule.tck.junit4.FunctionalTestCase;

import org.junit.Test;

public class ${className}Test extends FunctionalTestCase
{
    @Override
    protected String getConfigResources()
    {
        return "${moduleName}-config.xml";
    }

    @Test
    public void testFlow() throws Exception
    {
        runFlowAndExpect("testFlow", "Another string");
    }
}
