package ${project.package}.config;

import org.mule.api.annotations.components.Configuration;
#if(${project.generateDefaultBody} == true )
import org.mule.api.annotations.Configurable;
import org.mule.api.annotations.param.Default;
#end

@Configuration(friendlyName = "Configuration")
public class ${project.configClassName} {
#if(${project.generateDefaultBody} == true )

    /**
     * Greeting message
     */
    @Configurable
    @Default("Hello")
    private String greeting;

    /**
     * Reply message
     */
    @Configurable
    @Default("How are you?")
    private String reply;

    /**
     * Set greeting message
     *
     * @param greeting the greeting message
     */
    public void setGreeting(String greeting) {
        this.greeting = greeting;
    }

    /**
     * Get greeting message
     */
    public String getGreeting() {
        return this.greeting;
    }

    /**
     * Set reply
     *
     * @param reply the reply
     */
    public void setReply(String reply) {
        this.reply = reply;
    }

    /**
     * Get reply
     */
    public String getReply() {
        return this.reply;
    }
#end

}