#if(${project.generateDefaultBody} == true )
<!-- BEGIN_INCLUDE(${project.moduleName}:greet) -->
    <${project.moduleName}:greet config-ref="" friend="#[map-payload:friend]" />
<!-- END_INCLUDE(${project.moduleName}:greet) -->
#if(${project.hasQuery} == true )
<!-- BEGIN_INCLUDE(${project.moduleName}:query-processor) -->
    <${project.moduleName}:query-processor config-ref="" query="SELECT fieldName FROM MY_TABLE" />
<!-- END_INCLUDE(${project.moduleName}:query-processor) -->
#end
#if(${project.dataSenseEnabled} == true )
<!-- BEGIN_INCLUDE(${project.moduleName}:add-entity) -->
    <${project.moduleName}:add-entity config-ref="" key="id1"/>
<!-- END_INCLUDE(${project.moduleName}:add-entity) -->
#end
#end