#if(${project.category} == 'Community' )
(c) 2003-2015 MuleSoft, Inc. The software in this package is published under the terms of the CPAL v1.0 license,
a copy of which has been included with this distribution in the LICENSE.md file.
#else
(c) 2003-2015 MuleSoft, Inc. This software is protected under international
copyright law. All use of this software is subject to MuleSoft's Master
Subscription Agreement (or other Terms of Service) separately entered
into between you and MuleSoft. If such an agreement is not in
place, you may not use the software.
#end