<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:${moduleName}="http://www.mulesoft.org/schema/mule/${moduleName}"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/${moduleName} http://www.mulesoft.org/schema/mule/${moduleName}/1.0/mule-${moduleName}.xsd">

    <${moduleName}:config myProperty="Some string"/>

    <flow name="testFlow">
        <${moduleName}:my-processor content="Another string"/>
    </flow>

</mule>