<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
        
    <modelVersion>4.0.0</modelVersion>
    <groupId>${groupId}</groupId>
    <artifactId>${artifactId}</artifactId>
    <version>${version}</version>
    <packaging>mule-module</packaging>
    <name>Mule ${connectorName} Cloud Connector</name>


    <parent>
        <groupId>org.mule.tools.devkit</groupId>
        <artifactId>mule-devkit-parent</artifactId>
        <version>${runtimeId}</version>
    </parent>

    <properties>
        <junit.version>4.9</junit.version>
        <mockito.version>1.8.2</mockito.version>
        <jersey.version>1.16</jersey.version>
        <gson.version>2.2.2</gson.version>
        <jdk.version>1.6</jdk.version>
        <category>${category}</category>
        <licensePath>LICENSE.md</licensePath>
        <devkit.studio.package.skip>false</devkit.studio.package.skip>
    </properties>

    <dependencies>
        <dependency>
            <groupId>eclipse</groupId>
            <artifactId>eclipse-runtime</artifactId>
            <version>2.1.0</version>
            <scope>provided</scope>
        </dependency>
    </dependencies>
    <repositories>
        <repository>
            <id>mulesoft-releases</id>
            <name>MuleSoft Releases Repository</name>
            <url>http://repository.mulesoft.org/releases/</url>
            <layout>default</layout>
        </repository>
    </repositories>
#if( $addGitInformation == true )        
    <scm>
        <connection>${gitConnection}</connection>
        <developerConnection>${gitDevConnection}</developerConnection>
        <url>${gitUrl}</url>
    </scm>
#end
</project>

