<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      
      <wizard
            category="org.mule.tooling.ui.muleWizards"
            class="org.mule.tooling.devkit.wizards.NewDevkitProjectWizard"
            icon="icons/icon.png"
            id="org.mule.tooling.devkit.wizards.NewDevkitProjectWizard"
            name="Anypoint Connector Project"
            project="true">
      </wizard>
            <!--wizard
            category="org.mule.tooling.devkit"
            class="org.mule.tooling.devkit.wizards.LibraryNewWizard"
            icon="icons/icon.png"
            id="org.mule.tooling.devkit.wizards.LibraryNewWizard"
            name="Mule Library"
            project="false">
      </wizard-->
      <!--<wizard
             category="org.mule.tooling.ui.muleWizards"
            class="org.mule.tooling.devkit.wizards.ConnectorNewWizard"
            icon="icons/icon.png"
            id="org.mule.tooling.devkit.wizards.ConnectorNewWizard"
            name="Cloud Connector"
            project="false">
      </wizard>
      <wizard
             category="org.mule.tooling.ui.muleWizards"
            class="org.mule.tooling.devkit.wizards.ModuleNewWizard"
            icon="icons/icon.png"
            id="org.mule.tooling.devkit.wizards.ModuleNewWizard"
            name="Mule Module"
            project="false">
            
      </wizard>-->
	   </extension>

      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <newWizardShortcut id="org.mule.tooling.devkit.wizards.NewDevkitProjectWizard" />		
      		<!--<newWizardShortcut id="org.mule.tooling.devkit.wizards.ModuleNewWizard" />			
			<newWizardShortcut id="org.mule.tooling.devkit.wizards.ConnectorNewWizard" />-->					
      </perspectiveExtension>
   </extension>
      <extension
            id="devkitBuilder"
            name="Devkit Project Builder"
            point="org.eclipse.core.resources.builders">
         <builder
               hasNature="true">
            <run
                  class="org.mule.tooling.devkit.builder.DevkitBuilder">
            </run>
         </builder>
      </extension>
      

      <extension
            id="devkitNature"
            name="Devkit Project Nature"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="org.mule.tooling.devkit.builder.DevkitNature">
            </run>
         </runtime>
         <builder
               id="org.mule.tooling.devkit.devkitBuilder">
         </builder>
      </extension>
      <extension
            id="xmlProblem"
            name="XML Problem"
            point="org.eclipse.core.resources.markers">
         <super
               type="org.eclipse.core.resources.problemmarker">
         </super>
         <persistent
               value="true">
         </persistent>
      </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.mule.tooling.ui.muleExportCategory"
            class="org.mule.tooling.devkit.export.UpdateSiteExportWizard"
            icon="icons/icon.png"
            id="org.mule.tooling.devkit.export.updateSiteExportWizard"
            name="Mule extension Update Site">
      </wizard>
   </extension>
   <!--<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="org.eclipse.core.resources.problemmarker"
         class="org.mule.tooling.devkit.quickfix.Processor"/>
   </extension>-->
 	<extension	
         point="org.eclipse.ui.perspectives">
         <perspective
                name="Devkit"
                icon="icons/icon.png"
                class="org.mule.tooling.devkit.perspective.DevkitPerspectiveFactory"
                id="org.mule.tooling.devkit.perspective">
        </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Devkit"
            icon="icons/icon.png"
            class="org.mule.tooling.devkit.treeview.DevkitView"
            id="org.mule.tooling.devkit.treeview.DevkitView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="sample"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.mule.tooling.devkit.sample.editor.XMLEditor"
            id="org.mule.tooling.devkit.sample.editor.editors.XMLEditor">
      </editor>
   </extension>
   
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.ToggleJavadocCheckCommand"
			name="Enable/Disable Javadoc Check"
			defaultHandler="org.mule.tooling.devkit.popup.actions.ToggleJavadocCheckCommand">
		</command>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.SendToPaletteCommand"
			name="Try it out!"
			defaultHandler="org.mule.tooling.devkit.popup.actions.SendToPaletteCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.GenerateSourcesCommand"
			name="Generate Sources"
			defaultHandler="org.mule.tooling.devkit.popup.actions.GenerateSourcesCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
	<command id="org.mule.tooling.devkit.popup.actions.GenerateInteropTestDataCommand"
			name="Generate Testdata"
			defaultHandler="org.mule.tooling.devkit.popup.actions.GenerateInteropTestDataCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.RunAsRemoteInteropCommand"
			name="Run Interop Test"
			defaultHandler="org.mule.tooling.devkit.popup.actions.RunAsRemoteInteropCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.GenerateTestCasesCommand"
			name="Generate Functional TestCases"
			defaultHandler="org.mule.tooling.devkit.popup.actions.GenerateTestCasesCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.TestCoverageCommand"
			name="Test Coverage Report"
			defaultHandler="org.mule.tooling.devkit.popup.actions.TestCoverageCommand">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.CreateDocumentationCommand"
			name="Create documentation"
			defaultHandler="org.mule.tooling.devkit.popup.actions.CreateDocumentationCommand">
		</command>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.mule.tooling.devkit.popup.actions.InstallOrUpdateConnector"
			name="Install Or Update Connector"
			defaultHandler="org.mule.tooling.devkit.popup.actions.InstallOrUpdateConnector">
		</command>
	</extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="org.mule.tooling.devkit.javadoc.check.tester"
			type="org.eclipse.core.resources.IProject"
			namespace="org.mule.tooling.devkit"
			properties="enabled"
			class="org.mule.tooling.devkit.popup.actions.JavadocCheckPropertyTester">
		</propertyTester>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu icon="icons/icon.png" label="Anypoint Connector">
			<visibleWhen>
				<with variable="activeMenuSelection">
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject"/>
					</iterate>
     <count
           value="1">
     </count>
				</with>
			</visibleWhen>
			<separator name="group">
			</separator>
			<command commandId="org.mule.tooling.devkit.popup.actions.GenerateSourcesCommand" 
				label="Generate Sources"
				icon="icons/generate_sources.gif"
				style="push">
			</command>
			<command commandId="org.mule.tooling.devkit.popup.actions.InstallOrUpdateConnector" 
				label="Install or Update"
				icon="icons/install.gif" 
				style="push">
			</command>
			<command commandId="org.mule.tooling.devkit.popup.actions.CreateDocumentationCommand" 
				label="Preview Documentation"
				icon="icons/generate_doc.gif" 
				style="push">
			</command>
			
			<separator name="testing" visible="true">
			</separator>
			<command commandId="org.mule.tooling.devkit.popup.actions.GenerateTestCasesCommand" 
				label="Generate Functional TestCases"
				icon="icons/tsuite.png"
				style="push">
			</command>
			<command commandId="org.mule.tooling.devkit.popup.actions.GenerateInteropTestDataCommand" 
				label="Generate TestData"
				icon="icons/tsuite.png"
				style="push">
			</command>
			<!--<command commandId="org.mule.tooling.devkit.popup.actions.RunAsRemoteInteropCommand"
				label="Run Remote Interop"
				icon="icons/run.png"
				style="push">
			</command>-->
			<command commandId="org.mule.tooling.devkit.popup.actions.TestCoverageCommand" 
				label="Test Coverage Report"
				icon="icons/coverage.gif"
				style="push">
			</command>
			
			<separator name="javadoc" visible="true">
			</separator>
			<command commandId="org.mule.tooling.devkit.popup.actions.ToggleJavadocCheckCommand" 
				label="Enable Javadoc check"
				icon="icons/javadoc.gif" 
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<and>
								<with variable="activeMenuSelection">
									<iterate>
										<adapt type="org.eclipse.core.resources.IProject">
											<test value="true" property="org.mule.tooling.devkit.enabled" forcePluginActivation="true">
											</test>
										</adapt>
									</iterate>
								</with>
							</and>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command commandId="org.mule.tooling.devkit.popup.actions.ToggleJavadocCheckCommand"
				label="Disable Javadoc check"
				icon="icons/javadoc.gif"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<not>
								<with variable="activeMenuSelection">
									<iterate>
										<adapt type="org.eclipse.core.resources.IProject">
											<test value="true" property="org.mule.tooling.devkit.enabled" forcePluginActivation="true">
											</test>
										</adapt>
									</iterate>
								</with>
							</not>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.eclipse.jdt.apt.pluggable.core.compileProblem"
			class="org.mule.tooling.devkit.quickfix.QuickFixer"/>
   	</extension>
   	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
  		<hyperlinkDetector
    		id="org.mule.tooling.devkit.links.DevkitSampleHyperlinkDetector"
    		targetId="org.eclipse.jdt.ui.javaCode"
    		class="org.mule.tooling.devkit.links.DevkitSampleHyperlinkDetector"
    		name="Devkit Sample Link Detector">
		</hyperlinkDetector>
	</extension>
</plugin>
