<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mulesoft"
            id="org.mule.tooling.incubator.installer">
      </category>
      <view
            name="Mule Contribution Installer"
            icon="icons/incubator.png"
            category="org.mule.tooling.incubator.installer"
            class="org.mule.tooling.incubator.installer.views.ContributionInstaller"
            id="org.mule.tooling.incubator.installer.views.ContributionInstaller">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.mule.tooling.incubator.installer.views.ContributionInstaller">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
