<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
    
      <externalContribution
            contributionLibPathInMule="/plugins"
            contributionLibs="target/dependency/mule-module-ws-1.0.0-SNAPSHOT.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/ws2"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/ws2/current/mule-ws2.xsd"
            contributionNamespacePrefix="ws2"
            contributionType="connector"
            icon="icons/small/ws-24x16.png"
            name="WS"
            path="ws.xml"
            version="3.4.0">
      </externalContribution>

      <module
                description="Core endpoints and patterns for Mule Tooling"
                icon="icons/module-icon.png"
                id="org.mule.tooling.ui.modules.coreModule"
                name="Mule Tooling Core Elements">
         <category
               expandByDefault="false"
               icon="icons/categories/EndpointsCategory-16x16.png"
               id="org.mule.tooling.ui.contribution.ws"
               name="Mule Web Service Support"
               paletteWeight="3000">
         </category>
     </module>
    </extension>
   
    <extension
       point="org.mule.tooling.ui.modules.core.metadataresolver">
       <metadataresolver
             type="http://www.mulesoft.org/schema/mule/ws2/consumer" class="org.mule.tooling.incubator.ws.MetaDataResolver">
       </metadataresolver>       
    </extension>

</plugin>
