<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="MuleStudio+DataMapper Dependencies" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mapping.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.converter.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.ecore.converter.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.mapping.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.mapping.editor.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.editor.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/juno/201209280900"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.ui" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8/R-3.8.2-201301310800"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.velocity" version="0.0.0"/>
<unit id="org.jdom" version="0.0.0"/>
<unit id="org.apache.ant" version="0.0.0"/>
<unit id="org.junit" version="0.0.0"/>
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="org.hamcrest.generator" version="0.0.0"/>
<unit id="org.hamcrest.integration" version="0.0.0"/>
<unit id="org.hamcrest.library" version="0.0.0"/>
<unit id="org.hamcrest.text" version="0.0.0"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="com.thoughtworks.qdox" version="0.0.0"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy" version="2.0.7.xx-201407142131-e42-RELEASE"/>
<repository location="http://dist.springsource.org/release/GRECLIPSE/2.9.0/e4.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mule.tooling.datamapper.feature.group" version="0.0.0"/>
<unit id="org.mule.tooling.feature.group" version="0.0.0"/>
<unit id="org.mule.tooling.ui.extension.sap.3.5.0.feature.group" version="0.0.0"/>
<unit id="org.mule.tooling.ui.extension.sap.feature.group" version="0.0.0"/>
<unit id="org.mule.tooling.branding" version="0.0.0"/>
<unit id="org.mule.tooling.servers.commons" version="0.0.0"/>
<unit id="com.cloveretl.gui.hadoop" version="0.0.0"/>
<unit id="com.sun.jersey" version="0.0.0"/>
<unit id="javax.ws.rs" version="0.0.0"/>
<unit id="org.mule.tooling.templatesrepo" version="0.0.0"/>
<repository location="http://studio-nightly-update-gasher.s3.amazonaws.com"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mule.tooling.extension.server.3.5.0.ee.feature.group" version="0.0.0"/>
<repository location="http://tooling-runtimes.s3.amazonaws.com/gasher/dependencies/"/>
</location>
</locations>
</target>
